:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  background-color: var(--white);
  color: var(--slate);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.header-logo .logo-accent {
  color: var(--iris);
}

.nav-link {
  font-weight: 500;
  color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.contacts-link {
  font-style: normal;
  color: var(--slate);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--navy-blue);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: var(--white);
}

.hero-button {
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: var(--navy-blue);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}

.team {
  background-color: var(--cloud);
}

.team-card {
  background-color: var(--white);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue);
}

.team-position {
  text-align: center;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}

.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-logo .logo-accent {
  color: var(--iris);
}

.footer-text {
  color: var(--cloud);
}
